{% include "base.html" %}
{% load static %}

{% block content %}

<style media="screen">
  body{
    background-color: gray;
  }
</style>

<body>
  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h3><i class="fa-light fa-hand-wave"></i>&nbsp;Welcome, {{user}}</h3>
    <hr>
    <p>This is your dashboard where you can perform any of the following: </p>
    <li>Track your orders</li>
    <li>Manage your account</li>
  </div>
  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h4>Track your orders</h4>
    <hr>
    <p>Track all of your orders here...</p>
    <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'track-orders' %}">My orders</a>
  </div>
  <br>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h4>Manage shipping</h4>
      <hr>
      <p>Enter in a shipping address</p>
      <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'manage-shipping' %}">Manage shipping</a>
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h4>Manage your account</h4>
      <hr>
      <p>Update or delete your account</p>
      <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'profile-management' %}">Profile management</a>
      <br><br>
      <a class="btn btn-danger navbar-btn text-white" type="button" href="{% url 'logout' %}">Logout</a>
    </div>
      <br>
</body>

{% endblock %}
