{% include "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

  <style media="screen">
    body{
      background-color: gray;
    }
  </style>


  <body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h3><i class="fa-light fa-chevrons-right"></i>Manage shipping</h3>
      <p>Please fill in your shipping address.</p>
      <hr>
      <br>
      <form autocomplete="off" method="POST">
        {% csrf_token %}
        {{form.full_name|as_crispy_field}}
        <br>
        {{form.email|as_crispy_field}}
        <br>
        {{form.address1|as_crispy_field}}
        <br>
        {{form.address2|as_crispy_field}}
        <br>
        {{form.city|as_crispy_field}}
        <br>
        {{form.state|as_crispy_field}}
        <br>
        {{form.zipcode|as_crispy_field}}
        <br><br>
        <button type="submit" class="btn btn-primary btn-lg w-100 btn-block p-2" name="button"> &nbsp; Update shipping address</button>

      </form>
    </div>
  </body>
  <br><br>

{% endblock %}
