{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}



<style media="screen">
  body{
    background-color: gray;
  }
</style>

<body>
  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h3>Enter your new password: </h3>
    <hr>
    <p>
      Please enter your new password twice so we can verify that

      you typed it in correctly!
    </p>

    <form class="" method="POST">
      {% csrf_token %}
      {{form|crispy}}
      <br>
      <button type="submit" class="btn btn-primary btn-lg w-100 btn-block p-2" name="button"> &nbsp; Update password</button>
    </form>
  </div>
</body>


{% endblock %}
